@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Vazir";
  src: url("../src/Assets/Fonts/Vazir.eot");
  src: url("../src/Assets/Fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../src/Assets/Fonts/Vazir.woff2") format("woff2"),
    url("../src/Assets/Fonts/Vazir.woff") format("woff"),
    url("../src/Assets/Fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}